﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title {
    font-weight: bold;
    padding-bottom: 10px;
}

.color {
    color: #2e4057;
}

.my-nav {
    box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
    background-color: #1e90ff;
}

#nav-text {
    color: white;
}

.resizer {
    max-width: 560px;
    margin: 10px;
    margin-top: -10px;
}

@media(max-width: 1200px) {
    .resizer {
        max-width:450px;
    }
}

.context-div {
    /*border-width: 0.5px;
    border-color: black;
    border-style: ridge;*/
    width: 570px;
    height: 876.5px;
    overflow-y: scroll;
}

.context-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.context-div::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.context-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.outer-nav {
    padding-top: 10px;
    background-color: #6495ed;
    border-radius: 0px;
}

#nav-right {
    float: right;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#nav-right:hover {
    color: #d9d9d9;
}

.convert {
    float: right;
    margin-bottom: 12px;
    margin-top: 4px;
}

.make-middle {
    vertical-align:middle;
}

#fileupload {
    display: none;
}

#a_padding {
    padding-left: 15px;
    color: black;
    font-weight: 100;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.filelabel {
    padding: 10px;
    display: table;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px
}

.dwl-dropdown {
    float: right;
    overflow: hidden;
}

.dwl-dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}*/

.popup {
    display: none;
    position: fixed;
    z-index: 2147483647;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    height: 20%;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    padding: 2px 16px;
    background-color: #1c5ccf;
    color: white;
}

.popup-body {
    padding: 2px 16px;
}

.popup-body p {
    font-weight: bold;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dwl-dropdown:hover .dropdown-content {
    display: block;
}

#download-btn {
    color: white;
    text-decoration: none;
}

#download-btn:hover {
    text-decoration: none;
    color: white;
}

.hoverlist:hover {
    border-bottom: 2px solid white;
}

.div1 {
    /*border-style: ridge;
    border-radius: 0.5px;*/
    /*padding: 10px;*/
}

.box-s {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-s-mg {
    margin-top: 10px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div2 {
    /*border-style: ridge;*/
    /*border-radius: 0.5px;*/
    padding: 10px;
    height: 560px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.div2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.div2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.div2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#fileContent::-webkit-scrollbar {
    display: none; 
}

.div4 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
}

.open > .my-dropdown-menu {
    display: block;
}


.down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.my-dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    /*border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    background-clip: padding-box;
}

#nonebutton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.emphasize {
    font-weight: bold;
}
#table_header {
    background-color: #C0C0C0;
    height: 45px;
}

#table_header_content {
    text-align:left;
    padding-right: 20px;
    padding-left:10px;
}

.table-div {
    width: 80px;
}

#table_content td {
    text-align: left;
    padding: 0 15px;
}

#table_content:nth-child(odd) {
    background-color: #DCDCDC;
}

/* CSS Tree menu styles */
ul.tree {
    padding: 0 0 0 15px;
    width: 300px;
}


#extend {
    width: 194%;
    padding: 5px;
    border: 0.5px solid black;
    background-color: #9999ff;
    border-bottom: none;
}

#listFormat {
    /*width: auto;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #9999ff;
    margin-right: -5px;
    border-bottom: none;*/
    /*position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;*/
    width: auto;
    padding: 5px;
    margin-right: -5px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

#extend:hover {
    background-color: #ccccff;
}

#listFormat:hover {
    background-color: #ddd;
}

#extend:last-child {
    border-bottom: 1px solid black;
}

@media (max-width: 1200px) {
    #extend {
        width: 100%;
    }
}

.tree a {
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
}

.tree a:hover {
    color: dimgrey;
}

.list {
    position: relative;
    margin-left: -15px;
    list-style: none;
}

.list input {
    position: absolute;
    left: 0;
    margin-left: 1px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1.5em;
    width: 1em;
    top: 0;
}

.list input + ul {
    background: url(../images/right.png) 37px -5px no-repeat;
    margin: -17px 0 0 -45px; /* 15px */
    height: 1em;
}

.list input + ul > li {
    display: none;
    margin-left: -14px !important;
    padding-left: 1px;
}

.list label {
    /*background: url(folder-horizontal.png) 15px 1px no-repeat;*/
    cursor: pointer;
    display: block;
    padding-left: 37px;
}

.list input:checked + ul {
    background: url(../images/down.png) 37px 0px no-repeat;
    margin: -22px 0 0 -45px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}

.list input:checked + ul > li {
    display: block;
    transition: display 0.5s ease-in-out;
    /*margin: 0 0 0.125em;*/ /* 2px */
}

.lis input:checked + ul > li:last-child {
    margin: 0 0 0.063em; /* 1px */
}