﻿@{
    ViewData["Title"] = "Home Page";
}

@model C2Metadata.Web.Models.DataToTranslate

<div class="viewdiv">
    <h1>Paste your code here</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @name = "convertform"}))
    {
        @*<textarea id="TextArea1" cols="100" rows="30" ></textarea>*@
        @Html.TextAreaFor(m => m.data, 30, 100, new { @class = "resizer" });
        <br />
        <input type="submit" name="submit1" value="Convert" />
    }
</div>
<div class="viewdiv">
    @Html.Raw(ViewData["data"])
</div>
